<br><center>
<%# <h1 style="color: Brown;">Thank you for shopping with us!<br /><br></h1> %>
<img src="/assets/thankyou.png" height="450px" width="100%"><br><br>
<h1>Your order has been processed!<br/>
A detailed email has been sent.<br /><br></h1>

<a href="/gallery/index">Click Here to Continue Shopping</a>
</center>